@import "tailwindcss";

@font-face {
  font-family: 'roboto';
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: roboto, sans-serif;
}

.scrolled {
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(20px);
}
